<!DOCTYPE HTML>

<html>
	<head>
		<title>RobDrehman</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">My Work</a></li>
							<li><a href="#two">What I do</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">

						<div class="inner">

							<h1>Robert Drehmann</h1>
							<p>Website is currently still in develpoment many features do not work. Will be updated frequently.
							<p>I am pursuing a degree in Computer Science at The University of Scranton. As a student in their sophomore year, I have developed my programming skills a lot over the past two years. This Website aims to demonstrate my programming skills, the website itself also serves as a demonstration of what I have learned outside of school the tools used to develop this website were self-taught.</p>
							
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/data.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Projects</h2>
									<p>Individual or collaborative long term project that demonstrates multiple programming skills.</p>
									<ul class="actions">
										<li><a href="/projects" class="button">View</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/coding.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Programs</h2>
									<p>Individual or Course programs that demonstrate a particular programming skill.</p>
									<ul class="actions">
										<li><a href="/programs" class="button">View</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/folder.png" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Resume</h2>
									<p>Document used to present my background, skills, and accomplishments.</p>
									<ul class="actions">
										<li><a href="/resume" class="button">View</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What I do</h2>
							<p>Currently a sophmore year Computer Science student at the Univertsy of Scranton</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Data Structors Algorithms</h3>
									<p>Able to deal with issues of data representation, algorithm structure, and encapsulation as they pertain to the development of object-oriented software. Abstract data types learned include stacks, queues, binary trees, n-ary trees, and graphs.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Parallel and Distributed Systems</h3>
									<p>Able to program using Parellel Systems, multi-threaded, multi-core, and Distrubuted Systems. </p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Servers/Databases </h3>
									<p>Able to create develope and impliment Servers and Databases.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Full Stack Web Development</h3>
									<p>Able to design and program a fully working website from the front end HTML, CSS, and JavaScript as well as the back end Server.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Fundamental models and concepts of computation</h3>
									<p>Understand and understand and/or desing: Automata, formal languages, and grammars , recursive and recursively enumerable sets, unsolvable problems, complexity of algorithms, Chomsky hierarchy.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Machine Learning</h3>
									<p>Able to problem solving using expert systems, heuristic programming techniques, tree speed-up techniques, and learning mechanisms..</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="/resume" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							Please Leave your Name and Email</p>
							<div class="split style1">
								<section>
									<form method="POST" action="/">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="Messages[name]" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="Messages[email]" id="email" />
											</div>
											<div class="field">
												<label for="mess">Message</label>
												<textarea name="Messages[message]" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										
										<li>
											<h3>Email</h3>
											<a href="#">robertjdrehmann@gmail.com</a>
										</li>
										
										<li>
											<h3>Social</h3>
											<ul class="icons">
												
												<li><a href="https://github.com/RobDrehmann" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Rob Drehmann. All rights reserved.</li>
					</ul>
				</div>
				<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
				<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
				<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
			</footer> -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>