<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="Usr">UserName</label>
            <input type="text" id="Usr" name="login[usr]">
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="text" id="Password" name="login[Password]">
        </div>
        <button>Login</button>
    </form>
    <a href="/campgrounds">back</a>

</body>

</html>