<!DOCTYPE HTML>

<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Robert Drehmann</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects" >Projects</a></li>
						<li><a href="/programs" class="active">Programs</a></li>
						<li><a href="/resume" >Resume</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="one" class="wrapper style1 spotlights2">
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Stack</h2>
									<p>A stack</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Stack" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Queue</h2>
									<p>Individual or Course programs made to demonstrate a particular computer science skill</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Queue" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Hash-Table</h2>
									<p>Document used to present my background, skills, and accomplishments.</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Hash-Table" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Dijstras</h2>
									<p>Individual or collaborative project that were carefully planned to achieve a particular aim</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/dijkstras" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Conways Game of Life Recreation</h2>
									<p>Individual or Course programs made to demonstrate a particular computer science skill</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Conways-Game-of-Life" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							
							<div class="content">
								<div class="inner">
									<h2>Binary-Tree</h2>
									<p>Document used to present my background, skills, and accomplishments.</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Binary-Tree" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section><section>
							
							<div class="content">
								<div class="inner">
									<h2>Parallelism</h2>
									<p>Individual or collaborative project that were carefully planned to achieve a particular aim</p>
									<ul class="actions">
										<li><a href="https://github.com/RobDrehmann/Parallelism" class="button">Code</a></li>
									</ul>
								</div>
							</div>
						</section>
						
						
					</section>

			</div>

		<!-- Footer -->
			

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>