
   

  <!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/css/index.css" />
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

    <!-- Bootstrap core CSS -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Jumbotron Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
<link href="assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 700px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
   
    <link href="index.css" rel="stylesheet">

  </head>
  <body>
   

<main role="main">

  
    <div class="w-100 p-3">
      <h1 class="display-3">Sorting Algorthms</h1>
    </div>
    

 
  <form class="form-inline my-2 my-lg-2">
      
      <button  id="selectsort"class="btn btn-outline-primary"class="btn btn-outline-success my-2 my-sm-0" type="button" >Selection Sort</button>
      <button id="bubblesort" class="btn btn-outline-warning" class="btn btn-outline-success my-2 my-sm-0" type="button">Bubble Sort</button>

      <button id="insersort" class="btn btn-outline-danger" class="btn btn-outline-success my-2 my-sm-0" type="button">Insertion Sort</button>
      <button id="quicksort" class="btn btn-outline-success my-2 my-sm-0" type="button">Quick Sort</button>
    </form>
    <form  class="form-inline my-2 my-lg-2">
     
       <!--<button id="speeddown" class="btn btn-dark my-2 my-sm-0" type="button">Speed-</button>-->
      
 <!-- <input type="range" min="5" max="20" value="50" class="slider" id="speed"> -->
    <input type="range" min="5" max="1000" value="500" class="slider" id="number">

      <!--<button id="speedup" class="btn btn-dark my-2 my-sm-0" type="button">Speed+</button>-->
  
  </form>
  
    
      <canvas id="myCanvas" width="1900" height="720"></canvas>
      <form class="form-inline my-2 my-lg-2">
        <button id="Random" class="btn btn-outline-info btn-block" class="btn btn-outline-success my-2 my-sm-0" type="button">Create New</button>
        </form>
    
  
      
    


  
</main>

<footer class="container">
  
</footer>
<script src="assets/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      
</html>




      

